.app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;

  max-width: 1440px;
  background-color: white;
  margin: 0 auto;
  box-shadow: 0 8px 16px rgba(255, 255, 255, 0.2);
  padding: 0;
  height: 100vh;
  box-sizing: border-box;
}



.welcomeContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
  width: 1440px;
  height: 80px;
  margin: auto;
  box-sizing: border-box;
  overflow: hidden;
}

.welcome {
  position: absolute;
  max-width: 100%;
  width: 416px;
  height: 66px;
  height: auto;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 46px;
  line-height: 1.4;
  letter-spacing: 0.17px;
  color: #4F4F4F;
  text-align: center;
  box-sizing: border-box;
  line-height: 65.78px;
  letter-spacing: 0.17px;
  text-align: center;
  top: 479px;
}








