.repoTable {
  width: 100%;
  padding: 0 20px 0 32px;
  box-sizing: border-box;

}

.tableBody {
  position: relative;

}
.tableRow {
width: 912px;
  cursor: pointer;

  &:hover {
    background-color: #f5f5f5;
  }
}
.tableCell {
  width: 182.4px; /* Ширина ячеек */
  height: 56px; /* Высота ячеек */
  padding: 0px 10px; /* Отступы */
  box-sizing: border-box;
}
.tablePagination {
  position: absolute;
  bottom: 0;
  left: 0;
  width: calc(100% - 480px);
  background-color: white;
  z-index: 1000;
  padding: 10px 20px;
  box-sizing: border-box;
}
.resultsHeading {
  padding: 24px 0;
  color: rgba(0, 0, 0, 0.87);

}
