.repoTable {
  width: 100%;
  padding: 0 20px 0 32px;
  position: relative;
  border: none;
  display: flex;
  flex-direction: column;
  height: 100vh; // высота контейнера на полный экран

  .resultsHeading {
    margin: 24px 0;
    color: rgba(0, 0, 0, 0.87);
  }
}

.tableContainer {
  flex: 1;
  overflow-y: auto; // вертикальная прокрутка для таблицы
}

.tableHead {
  position: sticky;
  top: 0;
  background-color: white;
  z-index: 1000; // шапка остается видимой при прокрутке
}

.tableBody {
  position: relative;
}

.tableRow {
  width: 100%;
  cursor: pointer;

  &:hover {
    background-color: #f5f5f5;
    transition: background-color 0.3s ease;
  }
}

.tableCell {
  width: 182.4px;
  height: 56px;
  padding: 0 10px;
  box-sizing: border-box;
  border-right: none !important;
  border-left: none !important;
}

.tablePaginationContainer {
  position: absolute;
  display: flex;
  align-items: flex-end;
  background-color: white;
  bottom: 43px;
  right: 480px; // Сдвигаем элемент к правому краю экрана
  z-index: 1000;


}

.tablePagination {
  margin-left: 520px;
}


.MuiTableContainer-root,
.MuiTable-root {
  border-right: none;
  border-left: none;
}
