.searchBar {
  display: flex;
  align-items: center;
  background-color: #00796b;
  padding: 19px 0;
  width: 1440px;
  height: 80px;
  margin: 0 auto;

  .searchInput {
    width: 912px;
    height: 42px;
    background-color: #F2F2F2;
    border-radius: 4px;
    margin-right: 10px;
    margin-left: 32px;
  }

  .searchButton {
    height: 42px;
  }
}

