@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap');

.searchBar {
  display: flex;
  align-items: center;
  background-color: rgba(0, 131, 143, 1);
  padding: 0 32px;
  width: 1440px;
  min-width: 360px;
  height: 80px;


  .searchInput {
    width: 912px;
    height: 42px;
    background-color: #F2F2F2;
    border-radius: 4px;
    position: relative;

  }

  .searchButton {
    height: 42px;
    flex-shrink: 0;
    width: 105px;
    margin-left: 10px;
    box-sizing: border-box;
    background-color: rgba(33, 150, 243, 1);
    color: #fff;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.12), 0 2px 2px rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
    text-transform: none;
  }

  .inputLabel {
    position: absolute;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 400;
    font-style: italic;
    color: #828282;
    top: -4px;

    letter-spacing: 0.17px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 15px;

  }

  .inputBase {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: #000000;
    line-height: 24px;
    letter-spacing: 0.17px;
  }

}

@media (max-width: 1080px) {
  .searchBar {
    width: 1070px;
    .searchInput {
      margin-right: 10px;
      margin-left: 10px;
    }
    .searchButton {
      margin-right: 10px;
    }
  }

}

@media (max-width: 926px) {
  .searchBar {
    width: 916px;
    .searchInput {
      margin-right: 10px;
      margin-left: 10px;
    }
    .searchButton {
      margin-right: 10px;
    }
  }

}

@media (max-width: 915px) {
  .searchBar {
    width: 900px;
    .searchInput {
      margin-right: 10px;
      margin-left: 10px;
    }
    .searchButton {
      margin-right: 10px;
    }
  }

}

@media (max-width: 844px) {
  .searchBar {
    width: 834px;
    .searchInput {
      margin-right: 10px;
      margin-left: 10px;
    }
    .searchButton {
      margin-right: 10px;
    }
  }

}

@media (max-width: 812px) {
  .searchBar {
    width: 800px;
    .searchInput {
      margin-right: 10px;
      margin-left: 10px;
    }
    .searchButton {
      margin-right: 10px;
    }
  }

}

@media (max-width: 760px) {
  .searchBar {
    width: 750px;
    .searchInput {
      margin-right: 10px;
      margin-left: 10px;
    }
    .searchButton {
      margin-right: 10px;
    }
  }

}

@media (max-width: 667px) {
  .searchBar {
    width: 657px;
    .searchInput {
      margin-right: 10px;
      margin-left: 10px;
    }
    .searchButton {
      margin-right: 10px;
    }
  }

}

@media (max-width: 428px) {
  .searchBar {
    width: 400px;
    .searchInput {
      margin-right: 10px;
      margin-left: 10px;
    }
    .searchButton {
      margin-right: 10px;
    }
  }

}

@media (max-width: 375px) {
  .searchBar {
    width: 365px;
    .searchInput {
      margin-right: 10px;
      margin-left: 10px;
    }
    .searchButton {
      margin-right: 10px;
    }
  }

}

@media (max-width: 360px) {
  .searchBar {
    width: 350px;
    .searchInput {
      margin-right: 10px;
      margin-left: 10px;
    }
    .searchButton {
      margin-right: 10px;
    }
  }

}
